/* element selector */
h1 {
    background-color: gainsboro;
    text-decoration:underline overline;
    text-align: center;
    max-width: 600px;
 
}
body {
    display:grid;
    grid-template-rows: auto;
    background-color: lightskyblue;
    grid-gap: 1em;
    justify-content: space-evenly;
    font-family: 'Roboto Condensed', sans-serif;
}
/*attribute selector*/
label[for=question] {
    color: maroon;
}
h3 {
    margin-right: 50px;
    color: hsl(338, 44%, 37%);
}
span.meeting-top {
    display:block;
    background-color:moccasin;
    min-width: 300px;
}
/*pseudo class selector */
nav a:first-child:hover {
    background-color: lightskyblue;
}
/*general sibling combinator */
a:first-child ~ a:hover {
    background-color: lightskyblue;
}
/* descendant selector */
details summary {
    background-color:lightyellow;
}
/*child combinator */
fieldset > form {
    background-color: linen;
}
/* .class selector */
attendance-list,ul { 
    
    margin-bottom: 70px;
    margin-top: 50px;
    border-style:solid;
    border-color: rgb(216, 163, 136);
    border-width: 2px;
    border-radius:35px;
    font-size : 1.2em;
    height: 2cm;
    background-color: lightpink;
    width: 10pc;
    

}
 h4 + div {
    background-color: lightpink;
}
/* ID selector */
li#group5 {
    padding-left: 15px;

}

li#groupx {
    padding-top: 10px;
}
li#total {
    padding: 3px 11px 12px 13px;
}
/* selector list */
meeting-topic, b {
    margin-left: 70px;
    font-size: 117%;
}

/* box model */
h4.unfinish {
    margin: auto 70px;

}
li#think {
    padding-top:27px;
    padding-bottom:27px;
   
}
unfinished-business, ol {
    position:sticky;
    background-color: azure;
    height: 28vw;
    width: 30vw;
    border: 0.5vh solid palevioletred;
    padding: 50px;
    margin: 16px;
}
/*combining two selectors */
h4.media {
   margin: 30px 70px 13px 150px;
}

p.presentornot {

    background-color:lightpink;
    display:inline-block;
}

h3.addques {
    position:fixed;
}

summary:active {
    background-color: hotpink;
}

.flexboxpractice {
    background-color: pink;
    display: flex;
    flex-wrap: wrap-reverse;
    
}
.flexboxpractice > div {
    background-color: azure;
    width: 400px;
    height: 100px;
    margin: auto;
    
}

@media screen and (max-width: 900px) {
    body {
        background-color: gainsboro;
    }
}
@media screen and (max-width: 600px) {
    /* universal selector */
    * {
        background-color:honeydew;
    }
}
